/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
   padding: 0;
   margin: 0;
}

@mixin font-size($size: 18, $leading: 1.2) {
   font-size: $size + px;
   font-size: ($size / 10) + rem;
   line-height: $leading;
}
