/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */


 /**
  * Fonts
  */
 @import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic);

 /**
  * Variables
  * ---
  */

 // variables
 $font-family-base: "Karla", Helvetica, sans-serif;
 // $font-family-base: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 $font-size-base: 18;
 $line-height-base: 1.5;
 $line-height-credits: 1.4;

 $fs-menu: 18;
 $fs-footer: 13;

 $fs-archive-title: 18;
 $fs-archive-subtitle: 13;

 $fs-title: 26;
 $fs-subtitle: 18;
 $fs-credits: 15;

 $fs-tweet: 18;


 // colors
 $text-color: #111;
 $body-bg: #fff;
 $selection-bg: #fff;
 $selection-fg: lighten($text-color, 50%);

// grid
 $wrapper-width: 1280px;
 $article-width: 1000px;

 $padding-horizontal-base: 5px;
 $padding-vertical-base: 5px;
 $margin-horizontal-base: 5px;
 $margin-vertical-base: 5px;
 $margin-horizontal-large: 15px;
 $margin-vertical-large: 15px;



// Partials
@import "partials/mixins";
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/print";


@mixin inverted() {
   background-color:$text-color; color:$body-bg; a { color:$body-bg; }
}



/**
 * Base Layout
 */
.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}

.header { // Header container
   $header-height: 70px;
   height:$header-height;
   .header-content { position:fixed; left:0; width:100%; height:$header-height; }

     nav { z-index: 9999;
        @include font-size($fs-menu);
        font-weight: bold;
        ul { list-style-type: none; padding:0; text-align: center; }
        li { display: inline-block;
          &:before { content:'— '; }
          &:first-child:before { display:none; }
          a { text-decoration:none; padding: 0 0.25em;
              &:hover { @include inverted(); }
          }
          &.current-menu-item a { @include inverted(); }
        }
  }

}

.footer {
   @include font-size($fs-footer);
   text-align: center;
   margin-top:60px;
}


// hide all images for js fade-in
html.js {
   img { visibility:hidden; }
}



/**
 * HOME Page / WORKS Archive
 */
body.home, body.archive {
   section { display:flex; flex-wrap:wrap; justify-content:space-around; align-items:center; }
   article {
      display: inline-block;
      margin-bottom: 10%;
      margin-bottom: 10vw;
      margin-right: 2%;

      .title { @include font-size($fs-archive-title);
         .title-extra:before { content:"—"; }
         margin:0;
         margin-top:0.5em;
      }
      .subtitle { @include font-size($fs-archive-subtitle); font-weight:normal;
         margin:0;
         margin-top:0.2em;
         p { margin:0; }
      }
      a { text-decoration: none; }
      &:hover .title { @include inverted(); }
      // &:hover img { outline: 7px inset $text-color; outline-offset:-7px; }
      .title, .subtitle { text-align: center; }
   }
}

.work-container {
   flex-basis: 100%;
   text-align:center;
}


/**
 * Social Posts
 */
body.home, body.archive {
   article.instagram {
      max-width:380px;
      -webkit-transition: opacity .25s, filter .25s linear;
      -webkit-filter: opacity(30%) grayscale(100%);
      z-index: 0;

      .subtitle {
        margin-top:0.7em;
      }
      .subtitle2 {
        margin-top:0.5em;
      }
   }
   article.instagram:hover {
     -webkit-transition: opacity .25s, filter .25s linear;
     -webkit-filter: opacity(100%) grayscale(0%);
   }

   article.twitter {
     .tweet {
       @include font-size($fs-tweet);
       font-style: italic;
       font-weight: bold;
       text-align: center;
     }
   }

   article.featured {
     margin: 0;
   }
}



/**
 * Single WORK
 */
body.single-works {
   .title { @include font-size($fs-title); text-align: center; }
   .subtitle { @include font-size($fs-subtitle); text-align: center; }

   .images {
      img { display:block; margin:0 auto; margin-top:60px; }
   }
   .vimeo-outer { margin:0 auto; margin-top:60px; }
   .text {
     width: 100%;
     max-width:$article-width; margin:0 auto; }
   .credits {
     @include font-size($fs-credits);
     line-height: $line-height-credits;
     width: 100%;
     max-width:$article-width; margin:0 auto;
     a {
       text-decoration: none;
       border-bottom: 1px solid #000000;
     }
    }

}

.big-text{
  @include font-size($fs-title);
  width: 100%;
  max-width:$article-width;
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.67em;
  margin-left: 0px;
}
body.post-2{
  margin-top: 50px;
}

body.page {
   article { width: 100%;
   max-width:$article-width; margin:0 auto;
   a {
     text-decoration: none;
     border-bottom: 1px solid #000000;
   }
 }

   @media (min-width: 600px) {
     // two columns layout
     .items {
     	display: flex;
     	flex-wrap: wrap;
      padding-top: 20px;
     	margin-left: -30px;
     	margin-top: -30px;
     }
     .items img {
      margin-top: 50px;
     }
     .items .item {
     	flex: 1 0 calc(25% - 10px);
     	margin: 30px;
     }
  }
  @media (max-width: 599px) {
    // two columns layout
    .items img {
     margin-top: 50px;
    }
    .items .item {
    }
 }
}
